<app-header titulo="Mi perfil"></app-header>


<ion-content [fullscreen]="true">
  <div id="header">
<br>
    <img src="assets/images/user.png" />
    <ion-grid>
      <ion-row>
    <ion-col style="align-items: center">
      <ion-button *ngIf="!dato">Editar perfil</ion-button>
      <ion-button *ngIf="dato">Editar domicilio</ion-button>
      <ion-button *ngIf="!dato" (click)="ChangeDomicilie()">Domicilio</ion-button>
      <ion-button *ngIf="dato" (click)="ChangePerfil()">Mi perfil</ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>
  </div>
<br>
<app-datos-perfil *ngIf="!dato"></app-datos-perfil>

<app-datos-domicilio *ngIf="dato"></app-datos-domicilio>



</ion-content>
